.campos{
    margin-top : 5px;
}
.botones-grupo{
    flex:auto;
}

.botones {
    margin-top: 5px;
}

.botones-confirmar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen {
    max-height: 300px;
}

.imagen-texto{
    color:black;
}